@tailwind base;
:root {
    --primary: #3C3D40;
    --secondary: rgb(247 171 10 / 0.8);
}

/* Firefox */
*{
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}
  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

@tailwind components;
@tailwind utilities;

.heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs text-gray-500 tracking-widest transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
}

.contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40 md:w-[100%]
}

.slick-dots li.slick-active button:before{
    color: #F7AB0A !important;
}

.custom__alert {
    margin-top: 20px !important;
}